/*
Theme Name: Windy Flat
Theme URI: http://www.windsays.com/
Author: Windy Liu
Author URI: http://www.windsays.com/
Description: Designed by Windy Liu
Version: 1.0
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 15px;
	font-size: 100%;
	vertical-align: baseline;
	font-family: 华文细黑,"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",STHeiti,MingLiu;
}
body {
	line-height: 2;
	background:  #2c3e50 ;

}
textarea:focus, input:focus{
    outline: 0;
}
*:focus {
    outline: 0;
}

a{
	text-decoration: none;
	color: #89867E;

}
a:visited{
	text-decoration: none;
	color: #89867E;
}
a:hover{
	text-decoration: none;
	color: #000;
}
ol {
	list-style-type: decimal;
	margin: 20px 10px;
}
ol li{
	line-height: 2em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {

	background: rgba(0,0,0,0.1);
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
strong {
	color: #444;
	font-style: bold;
	text-decoration: none;
}

ul li {
	list-style:none;
}
.clear {
	clear: both;
}

#page {
	padding: 0;
	overflow: hidden;
}
.site {
	width: 100%;
}
.content {
	margin: 0;
}

#banner {
	margin-top: 0;
	padding: 60px 20px;
	overflow: hidden;
	text-align: center;
	background: #5EC2A6;
}
#authorgravatar {
	margin: 0px auto;
	border-radius: 50%;
	width: 154px;
	height: 154px;
	transition: All 1s ease-in-out;

}
#authorgravatar:hover {

 	-moz-transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);  
}
.blogtitle {
	display: inline-block;
	padding: 16px 70px;
}
.blogtitle a{
	color: #FFF;
	font-size: 60px;
	font-weight: lighter;
	display: inline-block;
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	background: url(images/logo.png) no-repeat;
	text-indent: -9999em;
	width: 240px;
	height: 120px;
}
#banner h3 {
	color: rgba(256,256,256,0.9);
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 4px;
}
/* Navi */
#nav{
	background: #5EC2A6;
	text-align: center;
}
.menu {
	display: inline-block;
	margin: 0 auto;
}
.menu li{
	float:left;
	list-style:none;
	display:inline;
}
.menu li:hover{
	float:left;
}

.menu li a{
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	font-weight: lighter;
	white-space: nowrap;
	display: block;
	text-transform: uppercase;
	color: rgba(256,256,256,0.8);
	font-size: 14px;
	padding: 30px 60px;
	margin: 0;
	background: rgba(0,0,0,0.09);
	transition: all 0.2s ease-out;
}

.menu li a:hover{
	color: #FFF;
	background: rgba(0,0,0,0.2);
	display: block;
}

/*Post meta*/
.post_meta, .post_meta p, .post_meta span{
	text-align: center;
	color: rgba(0,0,0,0.8);
}
.post_meta,.statusdate a {
	font-size: 12px;
	line-height: 22px;
	color: rgba(0,0,0,0.8);
	margin: 30px 0;
}

/*Post*/
.singlecontent {
	background: #F0F0F0;
	padding: 80px 0;
}
.article {
	margin: 0 auto;
	width: 768px;
}
.post,.thecontent {
	padding: 80px;
	overflow: hidden;
	position:relative;
	overflow: hidden;
	background: #F0F0F0;
}
.post:nth-child(1),.post:nth-child(5),.post:nth-child(9) {
	background: #EC7068;
}
.post:nth-child(2),.post:nth-child(6),.post:nth-child(10) {
	background: #e9bd64;
}
.post:nth-child(3),.post:nth-child(7),.post:nth-child(11) {
	background: #1abc9c;
}
.post:nth-child(4),.post:nth-child(8),.post:nth-child(12) {
	background: #36b1c0;
}

.post-line {
	margin: 0 200px;

}
.post .entry-content p{
	color: rgba(0,0,0,0.9);
	font-size: 16px;
}


.content p,.post p {
	line-height: 2.4em;
	margin-bottom: 30px;
	text-align:left;
	text-indent: 0;
	padding: 0;
	font-size: 16px;
	margin-bottom: 2em;
}



/*Entey Title*/

.entry-header {
	overflow: hidden;
	margin-bottom: 20px;
}
.entry-title {
	font-weight: lighter;
	color: #000;
	padding: 0;
	text-align: center;

}
.entry-title a {
	font-size: 40px;
	line-height: 60px;
	font-weight: lighter;
	color: rgba(0,0,0,0.6);
	transition: all 0.5s ease-in;
}
.entry-title a:hover {
	color: rgba(0,0,0,0.8);
}

/* Thumb */
.thumbimage {
	margin: 0 auto -62px auto;
	display: block;
	width: 878px;
	padding: 0;
}
.sigletimthumb {
	margin: 0 auto;
	display: block;
	width: 880px;
}
/*Caption*/
.wp-caption {
	padding: 0;
	position: relative;
	display: block;
}
.entry-content .wp-caption .wp-caption-text,
.entry-content .gallery-caption,
.entry-content .entry-caption {
	font-style: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
	background: #000;
	-moz-opacity:.50;
	filter:alpha(opacity=50);
	opacity:.50;
	color: #FFF;
	position: absolute;
	width:98%;
	bottom: 0;
	left: 0;
	padding: 5px 0 ;
	margin: auto auto 6px 5px;
	text-indent: 14px;
}
.thesinglecontent .wp-caption .wp-caption-text,
.thesinglecontent .gallery-caption,
.thesinglecontent .entry-caption {
	font-style: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
	background: #000;
	-moz-opacity:.50;
	filter:alpha(opacity=50);
	opacity:.50;
	color: #FFF;
	position: absolute;
	width:98%;
	bottom: 0;
	left: 0;
	padding: 5px 0 ;
	margin: auto auto 14px 36px;
}
.entry-content p{
	font-size: 14px;
}
/*More Button*/
.readmore {
	text-align: center;
}
.readmore a{
	display: inline-block;
	margin-top: 30px;
	color: rgba(256,256,256,0.7);
	font-size: 20px;
	font-weight: lighter;
	background: rgba(0,0,0,0.09);
	padding: 20px 50px;
	transition: all 0.3s ease;
}
.readmore a:hover{
	color: #FFF;
	background: rgba(0,0,0,0.2);
}


 .thecontent p{
	margin-top: 20px;
	line-height: 2em;
}

/*Content*/
/*List*/
.entry-content ul li,.singlecontent ul li,blockquote ul li{
	line-height: 2em;
	text-indent: 25px;
}
/*Blockquote*/
blockquote{
	font-size: 15px;
	width: 85%;
	margin: 20px auto;
	padding: 30px 10px 30px 40px;
	line-height: 2;
	background: rgba(256,256,256,0.1);
}

/*Page Navi*/


.footerlink a{
	display: inline-block;
	text-align: center;
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	font-weight: lighter;
	color: rgba(256,256,256,0.8);
	font-size: 16px;
	padding: 60px 0px;
	width: 100%;
	background: rgba(0,0,0,0.09);
	transition: all 0.2s ease-out;
}
.footerlink a:hover{
	color: #FFF;
	background: rgba(0,0,0,0.2);
	display: block;
}
.newer a{
}
.older a{

}

/*Footer*/
#footer {
	line-height: 2em;
	overflow: hidden;
	padding: 120px 60px;
	text-align: center;
}
#footer p{
	font-size: 12px;
	line-height: 2em;
	color: rgba(256,256,256,0.6);
	text-align: center;
	margin-bottom: 10px;
}
#footer a {
	font-size: 12px;
	line-height: 2em;
	color: rgba(256,256,256,0.6);
}





/* Comments */
#comments {
	color: #C9C9C9;
	width: 768px;
	margin: 20px auto;
	
}

#respond_box,.comment-respond {
	margin: 20px 0px 0;
}
.avatar {
	display: none;
}
ol.commentlist {
	margin: 0 0px;
	padding:0px;
	width: 100%;
	list-style-type: none; overflow: visible; margin-bottom: 0px;
}
li.comment img {border:none;}
li.comment .comment-body {
	padding: 20px 0;
	margin: 20px 0;
	position: relative;
}
li.comment .comment-meta {
	overflow:hidden;
	float:left;
	display:block;
	width:50%;
}
li.comment .comment-text {
	padding-bottom:10px;
}
li.comment .avatar {
	left:-45px;
	padding:2px;
	border:none;
}
li.comment p {
	clear:both;
	margin-left:6px;
	margin:0;
	padding:0 0 10px 7px;
	font-size:14px;
}
li.comment cite,li.bypostauthor li.comment cite {
	color:#9B9B9B;
	font-weight:bold;
	font-style:normal;
	padding:0 5px 0 5px;
	margin:0 8px 0 0;
	float:left;
	font-size:15px;
}
li.comment cite a,li.bypostauthor li.comment cite a {
	color:#24B999;
	text-decoration:none;
	font-weight:lighter;
}
li.comment cite a:hover,li.bypostauthor li.comment cite a:hover {
	color:#24B999;
}
.commentmetadata,.commentmetadata a {
	font-size:10px;
	text-transform:uppercase;
	color:#999;
	padding-top:4px;
}
.commentmetadata a:hover {
	color:#24B999;
	text-decoration:none;
}
.says {
	display:none;
}
ul.children li {
	padding-top:20px;
}
.comment-meta {
	margin:0 0 10px;
	line-height:1.4em;
	position:relative;
}
li.comment .comment-body a.comment-reply-link {
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	font-weight:bold;
	padding:0 10px 0 0;
	font-size:10px;
	text-transform:uppercase;
	color:#24B999;
}
li.comment .comment-body a.comment-reply-link:hover {
	color:#24B999;
}
.children {
	list-style-type:none;
	margin:5px 20px 0 20px;
	background:rgba(256,256,256,0.05);
	overflow:hidden;
}
.children li.comment {
	margin:0 0 10px 0;
}
.comments input[type="text"] {
	padding:15px 7px;
	color:#999;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
	border:none;
	float:left;
	width:290px;
	outline:none;
	font-size:11px;
	margin:3px 0px;
	font-weight:bold;
	width:98%;
}
.comments textarea {
	padding:7px;
	color:#999;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
	border:none;
	float:left;
	outline:none;
	font-size:11px;
	margin:5px 0px;
	width:98%;
}
.comment-bubble {
	background:url(images/cmnt-icon.png) no-repeat;
	width:30px;
	height:23px;
	margin:0 8px 0px 0px;
	float:left;
}
#respond p {
	margin-bottom:10px;
}
#commentform {
	margin-top:15px;
}
#commentform label {
	float:left;
	padding:0;
	margin:0;
}
#commentform input[type="text"],#commentform textarea {
	margin-top:0px;
}

#author, #email, #url{
	color: #B3B3B3;
	height: 50px;
	width: 80%;
	padding-left: 20px;
	border: 1px solid rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.1);
	transition: all 0.3s ease-in;
}
#author:hover, #email:hover, #url:hover {
	border: 1px solid #24B999;

}

#comment {
	color: #B3B3B3;
	width: 80%;
	max-width: 80%;
	padding: 20px 0;
	padding-left: 20px;
	border: rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.1);
}
.commentinput {
	
}
#submit {
	font-family: "STHeiti Light",华文细黑,"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",STHeiti,MingLiu;
	font-size: 18px;
	color: rgba(254,254,254,0.6);
	background: rgba(0,0,0,0.1);
	padding: 14px 80px;
	width: 80%;
	border: 0;
	transition: all 0.3s ease-in;
}
#submit:hover {
	color: rgba(254,254,254,0.8);
	background: #24B999;
}
.comment-reply-title {
	font-family: "STHeiti Light",华文细黑,"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",STHeiti,MingLiu;
	font-size: 18px;
	font-weight: lighter;
}
.post_section_header {
	font-family: "STHeiti Light",华文细黑,"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",STHeiti,MingLiu;
	font-size: 12px;
	font-weight: lighter;
}




/*滚动栏*/
    ::-webkit-scrollbar {
    	width: 14px;
    	height: 14px;
    	background-color: #000;
    }   
    ::-webkit-scrollbar-track-piece {
    	background-color: #000;
    }   
    ::-webkit-scrollbar-thumb {
    	height: 14px;
    	background-color:  #FFF;
    }
    ::-webkit-scrollbar-thumb:hover{
	height: 14px;
	background-color:  #FFF;
}
/*Background Color*/
::selection{
	background: #000;
	color: white;
	/* Safari */
}
::-moz-selection{
	background: #000;
	color: white;
	/* Firefox */
}

/*Media Queries*/
/* for 960px or less */
	/* for 480px or less */
	@media screen and (max-width:720px) {
	body{
	background-image: none;
	padding: 0;
	}
	
	 .site,#page,#main {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.header{
		display: none;
	}
	.rssfeed {
		display: none;
	}
	#banner{
		height: auto;
	}
	.blogtitle {
		height: auto;
		background: none;
		overflow: hidden;
		padding: 20px;
		margin: 20px auto 0;
	}
	.site-title {
		text-align: center;
		margin-top: 0;
	}
	.blogtitle a{
		font-size: 40px;
		font-weight: lighter;
		display: block;
		text-align: center;
		height: auto;
		width: auto;
		background: none;
		text-indent: 0;
	}

	#nav {
		width: 100%;
		
	}
	#menu-nav {
		width: 90%;
		margin: 0 auto;

	}
	.menu li {
		float: none;
		display: block;
		width: 100%;
	}
	.menu li:hover {
		float: none;
		display: block;
		width: 100%;
	}
    .menu li a{
        display: block;
        font-size: 16px;
        margin: 0;
        text-align: center;
        float: none;
        padding: 10px 0;
    }
    .menu .current_page_item a{
        display: block;
        margin: 0;
        text-align: center;
        background: none;
        padding: 10px 0;
    }
    .menu li a:hover{
        display: block;
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }

	.menu {
		display: inline-block;
		clear: both;
		margin: 0 auto;
	}

	#search {
		display: none;
	}
	.format-audio {
		display: none;
	}
	.format-status .entry-content {
		float: left;
		width: 98%;
	}

	.thumbimage {
		display: none;
	}
	.sigletimthumb {
		display: none;
	}
	
	.article{
    	width: auto;
    	padding: 20px 30px;
    	margin: 0 auto;
    }
	.post {
		padding: 0;
		background: none;
	}
	.post img{
		max-width: 94%;
	}
	.post_meta{
		display: none;
	}
	.entry-title {
		margin-bottom: 20px;
	}
	#comments {
		padding: 30px;
		width:90%;
		margin: 0 auto;
	}


	.footerlink a{
		display: block;
		width: 100%;
		font-size: 16px;
		background: rgba(0,0,0,0.09);
		position: static;
		left: auto;
		right: auto;
		bottom: auto;
	}
	.footerlink a:hover{
		color: #FFF;
	}

}

